<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>clientMessagerie</display-name>
<servlet>
  	<servlet-name>message</servlet-name>
  	<servlet-class>
  	  ensa.messagerie.presentation.MessageServlet
  	</servlet-class>
  </servlet>
  
 <servlet>
  	<servlet-name>authentification</servlet-name>
  	<servlet-class>
  	  ensa.messagerie.presentation.AuthentificationServlet
  	</servlet-class> 
  </servlet>
  <servlet>
  	<servlet-name>deconnexion</servlet-name>
  	<servlet-class>
  	  ensa.messagerie.presentation.DeconnexionServlet
  	</servlet-class> 
  </servlet>
  
   <servlet>
  	<servlet-name>inscription</servlet-name>
  	<servlet-class>
  	  ensa.messagerie.presentation.InscriptionServlet
  	</servlet-class> 
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>message</servlet-name>
  	<url-pattern>/envoyer</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
  	<servlet-name>deconnexion</servlet-name>
  	<url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
  	<servlet-name>authentification</servlet-name>
  	<url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  
     <servlet-mapping>
  	<servlet-name>inscription</servlet-name>
  	<url-pattern>/inscription</url-pattern>
  </servlet-mapping>
 
  <welcome-file-list>
    <welcome-file>vues/authentification.jsp</welcome-file>
  </welcome-file-list>

</web-app>